/* Hack solution for button */
#nav-button-position {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
}

.nav-button-container {
  position: relative;
  margin: auto;
  width: 95%;
  bottom: clamp(10px, 5vh, 50px);
}

.nav-button {
  position: relative;
  display: block;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  left: 16px;
  width: fit-content;
  line-height: 100%;
}

.theme-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Nav window */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99;
}

.logo-container {
  margin-top: 30px;
  margin-left: clamp(5px, 3%, 1920px);
}

.nav-options {
  padding-top: clamp(10px, 5vh, 50px);
  position: absolute;
  left: 20%;
}

.option {
  list-style-type: none;
  transition: .2s;
}
.option:hover {
  color: var(--color-gray);
  transition: .2s;
}

.option > a  {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.label {
  font-size: var(--fs-body);
}
.title {
  padding-left: 20px;
  font-size: var(--fs-h1);
  line-height: 100%;
}

.text {
  position: absolute;
  transform: translate(clamp(-30%, 5vw, -70%), clamp(10%, 5vh, 100%));
  line-height: 110%;
  color: var(--color-lightgray);
}