.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-container {
  padding: 0 max(10%, 10px) 0 max(10%, 10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.middle-container {
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  width: 95%;
}

.bottom-container {
  padding: 0 max(10%, 10px) 0 max(10%, 10px);
}

@media (width > 500px) {
}
 