:root {
  font-family: "InstrumentSerif-Regular", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color-scheme: light dark;
  background: #000000;

  --ff-InstrumentSerif-Regular: "InstrumentSerif-Regular";
  --ff-InstrumentSerif-Italic: "InstrumentSerif-Italic";

  --fs-logo: 48px;
  --fs-h1: 64px;
  --fs-h2: 48px;
  --fs-body: 18px;
  --fs-theme: 20px;

  --color-lightgray: #868686;
  --color-gray: #504f4f;
}

@media (width < 600px) {
  :root {
    --fs-logo: 24px;
    --fs-h1: 36px;
    --fs-body: 14px;
    --fs-theme: 16px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: "InstrumentSerif-Regular";
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

img, picture, svg, video {
  display: block;
}

.debugPOS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}